a, a:visited
  @include transition(color 0s)
  color: inherit
  font-weight: bold
  text-decoration: none
  text-shadow: #999 1px 1px 3px
  &:hover
    text-decoration: underline

blockquote
  font-style: normal
  cite:before
    content: ''
    padding: 0
  p:last-child
    text-align: right

body > footer, body > header, nav[role=navigation] a
  @extend .serif
  text-align: center

body > header h1 a
  font-weight: normal
  text-shadow: none

.chastell-net
  font-family: 'IM Fell English SC', inherit
