a, a:visited
  color: inherit
  font-weight: bold
  text-decoration: none
  text-shadow: #999 1px 1px 3px

body > footer, body > header
  text-align: center

body > header h1 a
  font-weight: normal
  text-shadow: none
